// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #208C27;
$white: #fff;

$font-family-sans-serif: 'Inter', sans-serif;

$navbar-dark-color: $white;
$navbar-dark-hover-color: #ffffff80;
$navbar-dark-active-color: $white;

$btn-light-bg: $primary;
$btn-light-hover-bg: $white;
$btn-light-active-bg: $primary;
$btn-light-color: $white;
$btn-light-hover-color: $primary;
$btn-light-active-color: $white;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here